div * p {
    color: red;
    text-align:center;
}
= les contenus des balises p qui sont elles mêmes dans n'importe quelles balises (= qui doivent l'être)
qui sont elles mêmes dans des balises div s'afficheront en rouge. P doit être dans une balise X avant d'être dans une balise div.

div * li {
    color: green;
}